.cartlist{
    padding: 20px;
    background-color: #f8f8f8;
    height: 100vh;
}

.cartlist ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cartlist li{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    height: 7vh;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 850px) {
    .cartlist{
        position: relative;
        top: 5%;
        padding: 5%;
    }
}
@media screen and (max-width: 650px) {
    .cartlist{
    top: 8%;
    }
}