.cart-container{
    min-height: 90vh;
    padding: 20px;
    margin-bottom: 80px;
}
.cartlist{
    padding: 20px 20px 0px 20px;
    min-height: 180vh;   
}

.cartlist ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.cartlist li{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    /*height: 8vh; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.cart-li-reset{
    margin-bottom: 0.5em;
}
.product-photo img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.cart-qty-btn{
    padding: 2px 4px 4px 4px;
    border-Radius: 4px;
    display: flex;
    flex-Direction: row;
}
.cart-qty-btn-minus{
    width: 30px;
    background-color: black;
    color: white
}
.cart-qty-input{
    background-color: #ddd;
    width: 18px;
    padding: 0px 4px;
    text-align: center;
}
.cart-qty-btn-plus{
    width: 30px;
    background: black;
    color: white;
}
.cart-delete-btn{
    margin-left: 10px;
    color: white;
    background-color: #ba2525;
    border-radius: 5px;
}
.subtotal{
    text-align: right;
    font-weight: bold;
    margin: 1em 0;
}
.cart-bottom{
    float: right;
}
.cart-clear-btn{
    background-color: #ba2525;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.2s;
}
.cart-checkout-btn{
    background-color: #0b441e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.2s;
}
.carterror{
    min-height: 100vh;
    text-align: center;
    padding: 20%;
    font-size: 30px;
}
@media screen and (max-width: 850px) {
    .cart-container{
        position: relative;
        top: 49px;
        padding: 0%;
    }
}
@media screen and (max-width: 650px) {
    .cart-container{
    top: 68px;
    }
    .cartlist{
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .cartlist ul{
        gap: 4px;
    }
    .cart-item-name{
        font-size: 12px;
    }
    .cart-qty-btn-minus,
    .cart-qty-btn-plus{
        width: 20px;
        font-size: 12px;
    }
    .cart-delete-btn{
        font-size: 10px;
        width: 40px;
    }
    .cart-bottom,.subtotal{
        padding-right: 20px;
    }
    .carterror{
    position: relative;
    top: 10%;
    padding: 10%;
    font-size: 15px;
}
}