.banner{
    top: 50%;
    min-height: 100vh;
}
.banner .banner-img{
  display: flex;
  padding: 2% 10% 2% 10%;
width: 80%;
height: 60vh;
}
.banner .banner-Adv{
  display: flex;
  padding: 2% 10% 2% 10%;
  width: 80%;
  height: 18vh;
}
@media  screen and (max-width: 900px) {
  .banner .banner-img{
    height: 50vh;
  }
    .banner .banner-Adv{
    height: 8vh;
  }
}
@media  screen and (max-width: 850px) {
.banner{
  position: relative;
  top: 6%; 
  z-index: -1;
}
}
@media  screen and (max-width: 750px) {
  .banner .banner-img{
    height: 40vh;
  }
}
@media  screen and (max-width: 650px) {
  .banner{
  position: relative;
  top: 8%; 
}
}

@media  screen and (max-width: 450px) {
  .banner .banner-img{
    width: 96%;
    height: 10vh;
    padding-left: 2%;
  padding-right: 2%;
  }
  .banner .banner-Adv{
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
    height: 7vh;
  }
  
}