.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5% 12% 5% 12%;
  list-style: none;
}
.product-list .product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  padding: 140px 5px 20px 5px;
  width: 200px;
  /*height: 180px;*/
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-list span{
  font-size: 12px;
  color: #ba2525;
  margin: 10px 0;
}
.product-list .add-to-cart {
  background-color: #ba2525;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}