.Signup-container {
  font-family: Arial, sans-serif;
  height: 110vh;
  background-size: cover;
}

.auth-form {
  position: relative;
  top: 10%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(25, 24, 24, 0.571);
  margin: 20px auto;
  width: 300px;
  color: black;
}


.auth-form h2 {
  text-align: center;
}

.auth-form input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: solid 1px #ccc;
  border-radius: 2%;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff7f50;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.social-login {
  text-align: center;
}

.social-login button {
  width: 35%;
  margin: 5px 2.5%;
}
#terms{
  width: 10px;
}
